@{
    ViewData["Title"] = "Dowiedz się więcej";
}




    <div class="container">
        <div class="main">
            <h2>Dowiedz się więcej</h2>
            <h3>BookDog - Bezpieczny pobyt dla Twojego najlepszego przyjaciela</h3>
        <img src="https://psihotelmorris.pl/images/morris2.jpg" alt="Zdjęcie radosnego psa" class="rounded mx-auto d-block" style="max-width: 120em;">
            <p>BookDog to innowacyjna aplikacja, która powstała z myślą o zapewnieniu bezpiecznego i komfortowego pobytu Twojego pupila podczas Twojej nieobecności. Rozumiemy, jak ważne jest dla Ciebie Twoje zwierzę i dlatego chcemy zaoferować Ci proste i intuicyjne rozwiązanie, które pozwoli Ci znaleźć idealne miejsce dla Twojego czworonożnego przyjaciela.</p>
            <h4>Czym wyróżnia się BookDog?</h4>
            <ul>
                <li><strong>Łatwość obsługi:</strong> Aplikacja jest prosta w obsłudze i intuicyjna, dzięki czemu bez problemu znajdziesz odpowiednie miejsce dla swojego zwierzaka.</li>
                <li><strong>Szeroki wybór ofert:</strong> Oferujemy szeroki wybór ofert noclegowych dla zwierząt w różnych lokalizacjach, abyś mógł znaleźć idealne miejsce dla swojego pupila.</li>
                <li><strong>Bezpieczeństwo:</strong> Wszystkie oferty są starannie weryfikowane, aby zapewnić Twojemu zwierzakowi bezpieczny i komfortowy pobyt.</li>
                <li><strong>Transparentność:</strong> Każda oferta zawiera szczegółowe informacje o cenie, udogodnieniach i opinii innych użytkowników, abyś mógł podjąć świadomą decyzję.</li>
                <li><strong>Dodatkowe funkcje:</strong> Oprócz wyszukiwania noclegów, aplikacja BookDog oferuje również dodatkowe funkcje, takie jak możliwość znalezienia opiekuna dla zwierzaka lub skorzystania z usług groomera.</li>
            </ul>
            <h4>Jak działa BookDog?</h4>
            <ul>
                <li><strong>Zarejestruj się:</strong> Utwórz konto w aplikacji BookDog i podaj podstawowe informacje o sobie i swoim zwierzaku.</li>
                <li><strong>Znajdź nocleg:</strong> Wyszukaj noclegi w swojej okolicy, korzystając z filtrów, takich jak lokalizacja, typ noclegu, cena i udogodnienia.</li>
                <li><strong>Zarezerwuj pobyt:</strong> Wybierz ofertę, która odpowiada Twoim potrzebom i zarezerwuj pobyt online.</li>
                <li><strong>Płatność:</strong> Płatność za pobyt jest dokonywana online za pomocą bezpiecznej bramki płatniczej.</li>
                <li><strong>Ciesz się spokojem:</strong> Ciesz się spokojem ducha, wiedząc, że Twój zwierzak jest w dobrych rękach i bezpiecznie się bawi.</li>
            </ul>
            <h4>Dołącz do nas!</h4>
            <p>Jeśli szukasz bezpiecznego i komfortowego miejsca dla swojego zwierzaka podczas Twojej nieobecności, pobierz aplikację BookDog już dziś!</p>
            <h3>BookDog - Bezpieczny pobyt dla Twojego najlepszego przyjaciela.</h3>    
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <p>Aby dowiedzieć się więcej o BookDog, odwiedź naszą stronę internetową lub skontaktuj się z nami.</p>
            <p>Strona internetowa: <a href="https://localhost:7275/#" style="color: #77a4bd;">https://bookdog.pl/</a></p>
            <p>Numer telefonu: +48 123 456 789</p>
            <p>Zapraszamy do korzystania z BookDog!</p>
        </div>
    </div>
