@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>

        <h1>Polityka Prywatności Aplikacji BookDog</h1>
        <p>Data ostatniej aktualizacji: 23.03.2024</p>
        <p>Dziękujemy za korzystanie z aplikacji BookDog. W BookDog dbamy o prywatność naszych użytkowników i zobowiązujemy się do ochrony danych osobowych przekazywanych nam przez użytkowników. Niniejsza Polityka Prywatności wyjaśnia, jakie dane osobowe zbieramy, w jaki sposób je wykorzystujemy oraz jakie opcje ma użytkownik w zakresie swoich danych.</p>
        <h2>1. Dane, które zbieramy:</h2>
        <ul>
            <li>Informacje rejestracyjne: Podczas rejestracji w aplikacji zbieramy dane takie jak adres e-mail i hasło użytkownika.</li>
            <li>Dane profilowe: Użytkownicy mają możliwość dodania informacji o sobie do swojego profilu, takich jak zdjęcie profilowe, imię, nazwisko.</li>
    <li>Dane transakcyjne: W przypadku dokonywania płatności za usługi w aplikacji, zbieramy informacje niezbędne do realizacji transakcji.</li>
    <li>Dane dotyczące rezerwacji: Podczas rezerwacji noclegu dla zwierzęcia zbieramy informacje niezbędne do zapewnienia usługi, takie jak rodzaj zwierzęcia, daty pobytu itp.</li>
    <li>Dane o lokalizacji: Aplikacja może pobierać dane o lokalizacji użytkownika w celu zapewnienia funkcjonalności związanych z geolokalizacją.</li>
        </ul>
      
        <h2>2. Sposób wykorzystania danych:</h2>
        <p>
    <li>Dane rejestracyjne są wykorzystywane do zarządzania kontem użytkownika oraz zapewnienia bezpieczeństwa.</li>
    <li>Dane profilowe są wyświetlane w profilu użytkownika i mogą być udostępniane innym użytkownikom.</li>
    <li>Dane transakcyjne są wykorzystywane do realizacji płatności oraz prowadzenia ewidencji transakcji.</li>
    <li>Dane dotyczące rezerwacji są wykorzystywane do zapewnienia usługi rezerwacji noclegów dla zwierząt.</li>
    <li>Dane o lokalizacji są wykorzystywane w celu zapewnienia funkcji związanych z geolokalizacją, takich jak wyszukiwanie hosteli w pobliżu.</li>
        </p>
        <!-- Tutaj opisz sposób wykorzystania danych -->
        <h2>3. Udostępnianie danych osobowych:</h2>
        <p>
            <li>Dane osobowe użytkowników nie są udostępniane osobom trzecim bez zgody użytkownika, chyba że jest to niezbędne do świadczenia usług związanych z aplikacją.</li>
    <li>Dane mogą być udostępniane podmiotom uprawnionym na podstawie przepisów prawa.</li>
    
        </p>
        <!-- Tutaj opisz sposób udostępniania danych osobowych -->
        <h2>4. Ochrona danych osobowych:</h2>
        <p>
    <li>Dbamy o bezpieczeństwo danych użytkowników poprzez zastosowanie odpowiednich środków technicznych i organizacyjnych.</li>
    <li>Dane osobowe są przechowywane na bezpiecznych serwerach i chronione przed nieautoryzowanym dostępem.</li>
        </p>
        <!-- Tutaj opisz środki bezpieczeństwa stosowane w ochronie danych -->
        <h2>5. Prawa użytkownika:</h2>
        <p>
    <li>Użytkownik ma prawo dostępu do swoich danych osobowych, ich poprawiania oraz usunięcia.</li>
    <li>Użytkownik może w każdym czasie wycofać zgodę na przetwarzanie swoich danych osobowych.</li>
        </p>
        <!-- Tutaj opisz prawa użytkownika w zakresie jego danych osobowych -->
        <h2>6. Kontakt:</h2>
        <p>
    <li>W przypadku pytań dotyczących Polityki Prywatności, prosimy o kontakt za pomocą danych podanych poniżej.</li>
    Kontakt:<br />
    [Adres e-mail kontaktowy]<br />
    [Adres siedziby firmy]<br />
    [Inne dane kontaktowe]<br />
        </p>
        <!-- Tutaj podaj dane kontaktowe -->

</p>


